* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-size: 14px;
    font-family: 'Gentona','Courier New', Courier, monospace;
    font-weight: 400;    
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.ola-header{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-bar{
    height: 2rem;
}
.nav-black{
    background-color: black;
    color: white;
}

.nav-white{
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    color: black;
    /* height: 3rem; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    text-align: right;
    height: 55px;
    width: 100%;

   }
 
.nav-bar-item{
    justify-content: initial;
    padding: 2px 8px;
}

.nav-black a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.85);;
}
.nav-white a{
    text-decoration: none;
    font-size: 1rem;
    color: grey;
  
}
.nav-size{
    height: 1.8rem;
    text-align: center;
    justify-content: center;
    
}
header .logo{
  padding-left: 35px;
}
.nav-btn{
    height: 135%;
    color: #110e0e;
    background-color: #d1e800;
    font-family: 'Gentona','Roboto';
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    width: 140px;

}
header a:hover{
	color: #8EC44A;
	font-weight: bold;
}

#showcase{
    background: url('./img/00000000383.jpg') no-repeat center;
    height: 800px;
    font-weight: bold;
    position: relative;
    /* text-align: center; */
    padding: 95px 80px;
    color: #fff;
}
#showcase .btn-wrapper {
  max-width: 1100px;
  margin: auto;
  position: relative;
}

#showcase .top-banner-tab {
  position: absolute;
  max-width: 1100px;
  left: 0;
  right: 0;
  top: 15%;
  margin: auto;
  padding-left: 80px;
  z-index: 9;
}
#showcase .top-title{
    color: white;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
    
}
#showcase .top-subtitle{
    color:white;
    position: relative;
    font-size: 28px;
    text-align: center;
    font-weight: 300;
    padding: 0 20px;
    margin: 10px;
    padding-left: 150px;
    
}

/* First Section Showcase wrpper */

.wrapper1 .overlay {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.wrapper1 .overlay-left {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 0.6;
  /* background-image: -webkit-gradient(linear, right top, left top, color-stop(28%, rgba(0, 0, 0, 0)), color-stop(77%, #000000)); */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 28%, #000000 77%);
  z-index: 2;
  display: none;
}

.wrapper1 .wrapper1-item {
    background-size: cover;
    height: 680px;
    position: relative;
}

.ola-booking-wrapper {
  height: 680px;
  position: relative;
  width: 100%;
}

.ola-booking {
  position: absolute;
  width: 400px;
  border-radius: 4px;
  z-index: 10;
  left: 0;
  margin-top: 100px;
}

.ola-booking form {
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  
}

.ola-booking .booking-tab {
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
  padding: 10px 5px 10px 5px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 5px;
  height: 40px;
}

.ola-booking .booking-tab .tab-btn-wrapper {
   width: 33%; 
  float: left;
}

.ola-booking .booking-tab .tab {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  padding: 0px 10px;
  height: 25px;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-family: "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}

.ola-booking .booking-tab .tab:hover {
  color: #8EC44A;
}

.ola-booking .booking-tab .tab-active {
  background: #CDDC39;
  border-radius: 10px;
}

 .ola-booking .ind{
  min-height: 300px;
}

.ola-booking .out {
  min-height: 300px;
}

.ola-booking .rental {
  min-height: 300px;
  overflow: hidden;
}  
.ola-booking .form1 {
  width: 100%;
  border-radius: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form1 {
  margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.form1 form {
    width: 100%;
    padding-bottom: 0.65rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form1 label {
    color: #222222;
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 500;
    
}
.form1 .label1 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.form1 .label2{
  margin-top: 10px;
}
.form1 .text-input {
    margin-bottom: 1.2rem;
    width: 95%;
  
    background: white;
    border: 2px solid #555;
    border-radius: 7px;
    padding: 0.6rem 0.8rem;
    line-height: 1.3rem;
}

.form1 .when {
    color: gray;
    line-height: 1.3rem;
}

.form1 .primary-btn {
    background-color: #d1e800;
    font-family: cursive;
    width: 95%;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 0.7rem 0.9rem;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}

.form1 .drop::-webkit-input-placeholder:before {
    content:'Current Location';
    color: lightgrey;
}


/* Container */
#container{
  display: block;
  width: 100%;
  overflow: hidden;
   padding: 0 65px;
   margin-bottom: 20px;

}

#container .offers{
  text-align: center;
  height: 100px;
  vertical-align: middle;
  
}

#container .offers .content{
  line-height: 15px; 
  text-align: left;
  justify-items: center;
  height: 30%;  
  width: 90%;
  margin: 20px 0px;
  border: 1.5px solid lightgrey;
  border-radius: 10px;
background-color: aliceblue;
padding: 10px
;
 
}

#container .offers h4 {
  font-size: 1rem;
  color: skyblue;
  font-weight: 400;
  padding-bottom: 5px;
}

#container .offers .content:hover{
  color: #f1f1f1;
}

#container .offers .content h4 {
  color: #8EC44A;
}

#container .empty {
  height: 50px;
  width: 100%;
}
/* 
#container .prev-btn {
  position: absolute;
  left: 30px;
  font-size: 0;
  z-index: 2;
  cursor: pointer;
  top: 135%;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  background: url("./img/arrowhead-left.png") no-repeat center;
  background-size: contain;
}

#container .prev-btn:hover {
  opacity: 0.9;
}

#container .next-btn {
  background: url("./img/arrowhead-right.png") no-repeat center;
  position: absolute;
  right: 30px;
  font-size: 0;
  z-index: 2;
  cursor: pointer;
  top: 135%;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  
  background-size: contain;
}

#container .next-btn:hover {
  opacity: 0.9;
} */

#showcase .ola-booking .form1 .place{
  padding-left: 100px;
}

#container .top-title{
    color: black;
    font-weight: 600;
    font-size: 36px;
    position: relative;
    margin-bottom: 10px;
}
#container .top-subtitle{
    color:gray;
    position: relative;
    font-size: 1.1rem;
    font-weight: 200;
    margin: 5px;
    padding-left: 1.5rem;
}

#container .offers
{
  background-color: #FFF;
  height: 13%;
  width: 85%;
  border-color: #222;
  position: relative;
  margin: 0 20px;
  box-shadow: 5px 10px #888888;
   box-shadow: 10px 10px 8px #888888;
  border: 1px solid #888888;
  top: -150px;
  left: 10%;
}

#container .cards{
  width: 100%;
  padding: 10px;
}
.items .wd-50 {
  width: 50%;
  float: left;
}
.items .wd-50:hover {
  background-color: whitesmoke;
}
.items .wd-50:first-child {
  padding-right: 20px;
}

.items .wd-50:nth-child(2) {
  padding-left: 20px;
}

.items .list .wd-30 {
  width: 30%;
  float: left;
}

.items .list .wd-30 img {
  max-width: 100%;
  border-radius: 4px;
  max-height: 110px;
  margin-top: 22px;
  padding: 0 10px;
}
.items .list .wd-30 img:hover {
  max-width: 92%;
  border-radius: 20px;
  max-height: 110px;
  margin-top: 22px;
}

.items .list .wd-70 {
  width: 70%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.items .list .heading {
  font-size: 22px;
  font-weight: 400;
  color: #000000;
}

.items .list .info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  line-height: 22px;
}

.items .last-item {
  margin-bottom: 20px;
}

.card .list .wd-70 {
  width: 70%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.items .list .wd-70:hover {
  background-color: lightgrey;
  border-radius: 10px;
}

.items .list .heading {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #000000;
}
.items .list .heading:hover {
 color: green;
 font-weight: bolder;
}

.items .list .info {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  line-height: 24px;
}

.items .last-item {
  margin-bottom: 20px;
}

#box{
  background-color: #FFF;
  height: 13%;
  width: 70%;
  position: relative;
  margin: 0 20px;
   box-shadow: 10px 8px 5px #888888;
   left: 10%;

}

#box img{
  margin: 6px;
}

#box .item a{
  justify-items: center;
  text-align: center;
}


#box .item .item1{
  display: inline-block;
  padding: 0 7px;
   box-shadow: 1px 10px 5px #888888;
}

